nav {
  position: relative;
  display: inline-block;
}
#menu-btn {
  background-color: #a82812;
  color: white;
}

/* changer le couleur dans le sous menu c en bas */
#submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f0f0f0;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
  min-width: 120px;
  display: none;
}
#submenu li {
  padding: 8px 16px;
}
#submenu li a {
  text-decoration: none;
  color: #333;
  display: block;
}
#submenu li a:hover {
  background: #ddd;
}
